body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
.input,
select,
textarea,
.ddsmoothmenu ul li a {
    font-family: 'Balsamiq Sans', sans-serif !important;
    font-weight: normal;
    overflow-wrap: normal;
    background-color: black;
    color: #ffffff;
}

html::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}
h1,
#marquee,
.label {
    font-family: 'Baloo Bhaijaan 2', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: device-width;
}
a{
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}
button {
    background-color: teal;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

ul{
    list-style-type: disc;
}