img {
    width: 32%;
    height: auto;
    border: 2px black solid;
}

body {
    background-color: hsl(0, 0%, 25%);
    color: hsl(0, 0, 90%);
}
a, button{
    display: inline;
}

@media only screen and (max-width: 600px) {
    img {
        width: 32%;
        height: auto;
    }
}